#form{
  margin: 5% 5%;
  font-family: 'Open Sans Condensed';
  font-size: 30px;
}
h1{
  text-align: center;
  font-family: 'Montserrat',sans-serif;
}
p{
  padding-top: 2%;
  text-align: center;
  color: #a9a9a9;
}
form{
  text-align: center;
  padding: 3% 0;
}
input[type=text]{
  width: 50%;
  padding: 1% 2%;
  margin: 0 2%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 350px;
  height: 20%;
}
